$editor-initial-width: 40;
$tree-column-initial-width: 58;

.author-texts-route {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.author-texts-route-editor {
  width: #{$editor-initial-width}vw;
}
.author-texts-route-trees {
  width: #{$tree-column-initial-width}vw;

  .sentence-id {
    padding-top: 20px;
    padding-left: 10px;
  }
}

