$editor-initial-width: 40;
$tree-column-initial-width: 58;

.author-texts-route {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.author-texts-route-header {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  border-bottom: 1px solid;

  padding: 5px 0 5px 5px;
}
.author-texts-route-editor {
  width: #{$editor-initial-width}vw;
}
.author-texts-route-trees {
  width: #{$tree-column-initial-width}vw;
}

