$editor-initial-width: 40;
$tree-column-initial-width: 58;

.fragment-detail-route {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fragment-detail-route-editor {
  width: #{$editor-initial-width}vw;
}
.fragment-detail-route-examples {
  width: #{$tree-column-initial-width}vw;

  .example {
    padding-top: 10px;
  }
}

