MarkupSafe<2.1.0 # 
uvicorn[standard]==0.17.0
gunicorn==20.1.0
fastapi==0.75.2
sqlalchemy==1.4.31
SQLAlchemy-Utils==0.38.2
spacy==3.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
benepar==0.2.0
alembic==1.7.7
tenacity==8.0.1
psycopg2==2.9.3
pydantic==1.8.2
emails==0.6
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.5
celery==5.2.6