.constituency-parse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .constituency-parse-tree {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .tree {
    width: 100%;
  }

  .constituency-parse-menu {
    align-self: flex-start;
    padding-right: 40px;
  }
}