.interpretation {
  padding-left: 10px;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      background: var(--hover-bg);
    }
  }

  &-row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  &-body {
    padding-top: 10px;
  }

  &-semantics {
    padding-top: 10px;
  }

  &-form {
    padding-right: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  .field input:hover {
    cursor: unset;
  }

  &.interpretation--temporary {
    &-form {
      display: flex;
      flex-direction: row;

      .fieldset {
        flex: 1;
      }
    }

    &-toolbar {
      display: flex;
      flex-direction: row;
    }
  }
}
