.menu {
  display: flex;
  position: relative;

  &-options {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 100%;

    border: 1px solid grey;

    &-inner {
      display: inline-flex;
      flex-direction: column;
      .button {
        width: 100%;
      }
    }
  }

  &--open .menu-options {
    display: block;
  }
}