.menu {
  position: absolute;
  background: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  opacity: 85%;

  .menu-inner {
    position: relative;
  }

  .menu-option {
    cursor: pointer;
  }

  .menu-caret {
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: -20.5px;
    transform: translate(-50%, -50%);
  }

  .menu-caret:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 25px;
    border: 1px solid;
    height: 25px;
    background-color: white;
    transform-origin: 95% 175%;
    transform: rotate(45deg);
  }
}
