.example {
  .example-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example-row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  .example-form {
    input {
      border: none;
      font-size: 16px;
      background: none;
    }

    fieldset {
      border: none;
      padding: 0;
    }

    input:focus{
      outline: none;
      text-decoration: underline aqua;
    }
  }

  .example-text-toolbar {
    display: flex;
    flex-direction: row;

    .button:not(:first-child) {
      margin-left: 10px;
    }
  }
}
