.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 10px;

  .interpret-button {
    border: 1px solid grey;
    padding: 3px 5px;
    font-variant: small-caps;
  }
}