$border-color: grey;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  cursor: pointer;

  &--trans, &--clear {
    padding: 3px 5px;
    height: 23px;
  }

  &--trans {
    border: 1px solid $border-color;
  }

  &--clear {
    border: none;
  }

  &--menu {
    background: white;
    justify-content: left;
    line-height: 14px;
    padding: 5px;
    box-sizing: border-box;

    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }
  }

  &:hover {
    background-color: #f2f2f2;
  }
}

:export {
  borderColor: $border-color;
}