.example-form {
  margin: auto;
  flex: 1;

  fieldset {
    display: flex;
    border: none;
    padding: 0;
  }

  &-field-label {
    flex: 0.03;
  }

  &-field-content {
    flex: 0.9;
  }

  .field input[type=submit] {
    display: none;
  }
}
