.example {
  .example-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      background: #f7f7f7;
    }
  }

  .example-row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  .example-body {
    .interpretation {
      margin-left: 15px;
      margin-top: 10px;
      border-left: 0.5px solid rgba(0, 0, 0, 0.18);
    }
  }

  &:hover {
    cursor: pointer;
  }

  .field input:hover{
    cursor: unset;
  }
}
