.example {
  .example-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      background: #f7f7f7;
    }
  }

  .example-row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  .example-body {
    .constituency-parse {
      padding-top: 10px;
    }
  }
}
