.interpretation {
  padding-left: 10px;

  .interpretation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      background: #f7f7f7;
    }
  }

  .interpretation-row {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }

  .interpretation-body {
    padding-top: 10px;
  }

  .interpretation-form {
    padding-right: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  .field input:hover{
    cursor: unset;
  }

  &.interpretation--temporary {
    .interpretation-form {
      display: flex;
      flex-direction: row;

      .fieldset {
        flex: 1;
      }
    }

    .interpretation-toolbar {
      display: flex;
      flex-direction: row;
    }
  }
}
