.interpretation-form {
  margin: auto;
  flex: 1;

  fieldset {
    display: flex;
    border: none;
    padding: 0;
  }

  .fieldset-errors {
    justify-content: left;
  }

  &-field-content {
    flex: 0.5;
  }

  &-field-paraphrase {
    flex: 0.5;
    border-left: 0.5px solid rgba(0, 0, 0, 0.18);
    padding-left: 10px;
  }

  .field input[type=submit] {
    display: none;
  }

  .field input::placeholder {
    font-style: italic;
    opacity: 0.8;
  }
}
