$examples-pane-gutter-left: 10px;
$examples-pane-gutter-right: 15px;

.fragment-detail-route {
  &-examples {
    padding-right: $examples-pane-gutter-right;
    padding-left: $examples-pane-gutter-left;

    &::-webkit-scrollbar { 
      display: none; // safari and chrome
    }
    .example {
      padding-top: 10px;
    }
  }

  &-new-example-control {
    padding-left: 0.5ch;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

    &-text {
      padding-left: 10px;
    }
  }
}
