.field {
  input {
    border: none;
    font-size: 16px;
    background: none;
    width: 100%;
  
    &:focus {
      outline: none;
    }
  }

  &--invalid {
    background-image: linear-gradient(to right, #dc1212 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
  }
}
